name: Release

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
    - name: Setup Node
      uses: actions/setup-node@v2
      with:
        node-version: '14'
    - name: Install nbgv
      run: dotnet tool install nbgv --tool-path ./tools --version 3.3.37
    - name: Run nbgv
      run: echo "NUGET_PACKAGE_VERSION=$(./tools/nbgv get-version -v NuGetPackageVersion)" >> $GITHUB_ENV
    - name: Install dependencies
      run: dotnet restore
    - name: Pack debug adapters
      run: dotnet pack --output ./adapters --configuration Release --no-restore --verbosity normal --include-symbols
    - name: copy adapters nuget package into extension folder
      run: cp adapters/*.nupkg src/extension/
    - name: NPM install
      run: npm ci
      working-directory: './src/extension'
    - name: NPM run package
      run: npm run package
      working-directory: './src/extension'
    - name: Create Release
      uses: "marvinpinto/action-automatic-releases@latest"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        prerelease: ${{ contains(env.NUGET_PACKAGE_VERSION, '-preview') }}
        title: Release ${{ env.NUGET_PACKAGE_VERSION }}
        automatic_release_tag: ${{ env.NUGET_PACKAGE_VERSION }}
        files: |
          ./adapters/*
          ./src/extension/*.vsix
